
#title_div{
    background-image: url(lsb-teka.JPG);
    height: 500px;
    color: rgb(215, 218, 231);
    font-size: 2vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}